services:
  postgres:
    image: docker.io/library/postgres:18.1
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready --user ${POSTGRES_USER} --dbname ${POSTGRES_DB}",
        ]
      interval: 15s
      timeout: 10s
      retries: 5

volumes:
  pgdata:
